force-app/main/default/flows/Referee_Status_Rank.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddRankDesignations</name>
        <label>AddRankDesignations</label>
        <locationX>1449</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>DesignationRows</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RankDesignationMaint3.outputEditedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopDesignationUpdts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactRecord</name>
        <label>AssignContactRecord</label>
        <locationX>325</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Rank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Referee_Rank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Referee_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Referee_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRank</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Referee_Rank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDefaultStatus</name>
        <label>AssignDefaultStatus</label>
        <locationX>163</locationX>
        <locationY>1256</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetCurrentStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdtContactStatusToDefault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDesignationRec_WithEndDate</name>
        <label>AssignDesignationRec WithEndDate</label>
        <locationX>1908</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>DesignationUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopDesignationUpdts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DesignationUpdate.Designation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopDesignationUpdts.Designation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DesignationUpdate.Designation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopDesignationUpdts.Designation_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DesignationUpdate.Designation_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopDesignationUpdts.Designation_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DesignationUpdate_WithStartEndDates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDesignationRec_wo_EndDate</name>
        <label>AssignDesignationRec wo EndDate</label>
        <locationX>1717</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>DesignationUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopDesignationUpdts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DesignationUpdate.Designation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopDesignationUpdts.Designation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DesignationUpdate.Designation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopDesignationUpdts.Designation_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DesignationUpdate.Designation_End_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>DesignationUpdate_WithStartEndDates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRank</name>
        <label>AssignRank</label>
        <locationX>1011</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Rank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DetermineRankFromDesignation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmRankDesignationChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRankDesignationInsertRecord</name>
        <label>AssignRankDesignationInsertRecord</label>
        <locationX>1200</locationX>
        <locationY>1117</locationY>
        <assignmentItems>
            <assignToReference>DesignationInsert.Designation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RankDesignationMaint3.selectedDesignation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DesignationInsert.Designation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RankDesignationMaint3.selectionStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DesignationInsert.Designee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DesignationInsert_Rank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUpdtStatus</name>
        <label>AssignUpdtStatus</label>
        <locationX>638</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklistStatus.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmStatusChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is a testing aid - it will appear in the debug report at the end of the flow - it does no harm so it can be left in for normal production.  If debugging and you don&apos;t see this element and TRUE at the end something&apos;s wrong.</description>
        <name>MarkFlowComplete</name>
        <label>MarkFlowComplete</label>
        <locationX>1916</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>FlowComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalPassRandEndDates</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constAlighButtonLeft</name>
        <dataType>String</dataType>
        <value>
            <stringValue>left</stringValue>
        </value>
    </constants>
    <constants>
        <name>constAlighButtonRight</name>
        <dataType>String</dataType>
        <value>
            <stringValue>right</stringValue>
        </value>
    </constants>
    <constants>
        <description>Text will appear as Alert Text over a neutral background</description>
        <name>constDestructiveText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>destructive-text</stringValue>
        </value>
    </constants>
    <constants>
        <name>ContactAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </constants>
    <constants>
        <description>The values identified here will be excluded from selection in ckbRefereeStatus</description>
        <name>ExcludedStatuses</name>
        <dataType>String</dataType>
        <value>
            <stringValue>License Suspended, License Suspended - Safety Compliance, License Suspended - USRowing Admin</stringValue>
        </value>
    </constants>
    <constants>
        <description>Designations that are Endorsements</description>
        <name>ExcludeEndorsementDesignations</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Chief Referee,Emeritus,FISA,Clinician,Mentor,Referee College Faculty,Referee Committee,Regional Coordinator,Staff</stringValue>
        </value>
    </constants>
    <constants>
        <description>The values added here will be excluded from from maintDesignations component select.</description>
        <name>ExcludeRankDesignations</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Referee,Full Referee,Assistant Referee,Candidate Referee, Emeritus</stringValue>
        </value>
    </constants>
    <constants>
        <name>RankSelectHelp</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Only Ranks that do not appear in the table above will appear here.</stringValue>
        </value>
    </constants>
    <constants>
        <name>RankTableHelp</name>
        <dataType>String</dataType>
        <value>
            <stringValue>You can delete a Rank by removing the Start Date of a row and then pressing Submit.</stringValue>
        </value>
    </constants>
    <constants>
        <name>RefereeRankFieldAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Referee_Rank__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>RefereeStatusFieldAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Referee_Status__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>TableEndorsementsHelp</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Endorsements are similar to rank, but are not the same. You will see rank progression in the table as well as endorsements. A member of the corps may have several active endorsements in addition to their current rank.</stringValue>
        </value>
    </constants>
    <constants>
        <name>UpdateAllDesignations</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>UpdateRankDesignations</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>CheckForEmptyStatus</name>
        <label>CheckForEmptyStatus</label>
        <locationX>524</locationX>
        <locationY>1261</locationY>
        <defaultConnector>
            <targetReference>Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referee_Status_Is_Not_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetContactRecord.Referee_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContactRecord.Referee_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot;null&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDefaultStatus</targetReference>
            </connector>
            <label>Referee Status Is Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>DesignationDeleteConfirmed</name>
        <label>DesignationDeleteConfirmed</label>
        <locationX>2152</locationX>
        <locationY>962</locationY>
        <defaultConnector>
            <targetReference>LoopDesignationUpdts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeleteConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmRemoveDesignation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IfDeletingRankDesignation</targetReference>
            </connector>
            <label>DeleteConfirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DesignationNoStartNoEnd</name>
        <label>DesignationNoStartNoEnd</label>
        <locationX>1541</locationX>
        <locationY>1113</locationY>
        <defaultConnector>
            <targetReference>DesignationRankNoStartDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoStartNoEnd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopDesignationUpdts.Designation_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmDeleteDesignation</targetReference>
            </connector>
            <label>NoStartNoEnd</label>
        </rules>
    </decisions>
    <decisions>
        <name>DesignationRankNoStartDate</name>
        <label>DesignationRankNoStartDate</label>
        <locationX>2000</locationX>
        <locationY>1026</locationY>
        <defaultConnector>
            <targetReference>IsEndDateSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RankNoStartDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopDesignationUpdts.Designation_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlertCannotRemoveRank</targetReference>
            </connector>
            <label>RankNoStartDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoCustFlowTopCancel</name>
        <label>DoCustFlowTopCancel</label>
        <locationX>528</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>IfStatusChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CustFLowTopCancelClicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustFlowFooterFormTop.flowCtrl1Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>CustFLowTopCancelClicked</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfDeletingRankDesignation</name>
        <label>IfDeletingRankDesignation</label>
        <locationX>2148</locationX>
        <locationY>757</locationY>
        <defaultConnector>
            <targetReference>DeleteEndorsement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeletingRankDesignation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsRankDesignation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLowerContactRank</targetReference>
            </connector>
            <label>DeletingRankDesignation</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will return you to the beginning or simply terminate since there&apos;s no place to go</description>
        <name>IfLoopBack</name>
        <label>IfLoopBack</label>
        <locationX>1895</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoLoopBack</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CustFlowFooterFini.flowCtrl1Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsContactPopulated</targetReference>
            </connector>
            <label>DoLoopBack</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfRankChanged</name>
        <label>IfRankChanged</label>
        <locationX>930</locationX>
        <locationY>114</locationY>
        <defaultConnector>
            <targetReference>IfRankDesignationsUpdt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RankChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DetermineRankFromDesignation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CurrentRank</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DetermineRankFromDesignation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRank</targetReference>
            </connector>
            <label>RankChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfRankDesignationsUpdt</name>
        <label>IfRankDesignationsUpdt</label>
        <locationX>1187</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>MarkFlowComplete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RankDesignationUpdated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RankDesignationMaint3.outputEditedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddRankDesignations</targetReference>
            </connector>
            <label>RankDesignationUpdated</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfSelectAnotherReferee</name>
        <label>IfSelectAnotherReferee</label>
        <locationX>525</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>DoCustFlowTopCancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectAnotherReferee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustFlowFooterDetailBottom.flowCtrl2Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Contact</targetReference>
            </connector>
            <label>SelectAnotherReferee</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfStatusChanged</name>
        <label>IfStatusChanged</label>
        <locationX>564</locationX>
        <locationY>76</locationY>
        <defaultConnector>
            <targetReference>IfRankChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistStatus.selectedValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ContactRecord.Referee_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignUpdtStatus</targetReference>
            </connector>
            <label>Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsContactPopulated</name>
        <label>IsContactPopulated</label>
        <locationX>311</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>FAlertNoContactSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactRecord</targetReference>
            </connector>
            <label>ContactSet</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEndDateSet</name>
        <label>IsEndDateSet</label>
        <locationX>1724</locationX>
        <locationY>786</locationY>
        <defaultConnector>
            <targetReference>AssignDesignationRec_wo_EndDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EndDateSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopDesignationUpdts.Designation_End_Date__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDesignationRec_WithEndDate</targetReference>
            </connector>
            <label>EndDateSet</label>
        </rules>
    </decisions>
    <decisions>
        <name>RankDesignationChangeConfirmation</name>
        <label>RankDesignationChangeConfirmation</label>
        <locationX>1025</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>CheckRankDesignationConfirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RankDesignationChangeIsConfirmed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmDesignationRandUpdt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRankDesignationInsertRecord</targetReference>
            </connector>
            <label>RankDesignationChangeConfirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusUpdateConfirmed</name>
        <label>StatusUpdateConfirmed</label>
        <locationX>641</locationX>
        <locationY>1143</locationY>
        <defaultConnector>
            <targetReference>CheckUpdateStatusAgain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Update_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmStatusUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactUpdt_Status</targetReference>
            </connector>
            <label>Status Update Confirmed</label>
        </rules>
    </decisions>
    <description>This flow presents ranks using Designation__c.  Contact Rank is updated as a by-product of changes to Designation__c.  This flow will ignore Endorsements.</description>
    <formulas>
        <name>CurrentRankValue</name>
        <dataType>Number</dataType>
        <expression>if({!CurrentRank} == &apos;Referee&apos;,3,
	if({!CurrentRank} == &apos;Assistant&apos;,2,
		if({!CurrentRank} == &apos;Candidate&apos;,1,0)
	)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DetermineDesignationFromRank</name>
        <dataType>String</dataType>
        <expression>CASE( TEXT( {!ContactRecord.Referee_Rank__c}),
&quot;Candidate&quot;, &quot;Candidate Referee&quot;,
&quot;Assistant&quot;, &quot;Assistant Referee&quot;,
&quot;Referee&quot;, &quot;Full Referee&quot;,
&quot;Emeritus&quot;, &quot;Emeritus&quot;,
&quot;None&quot;
)</expression>
    </formulas>
    <formulas>
        <name>DetermineLowerRankFromDesignation</name>
        <dataType>String</dataType>
        <expression>CASE(  {!LoopDesignationUpdts.Designation__c}, 
&quot;Candidate Referee&quot;, &quot;Candidate&quot;, 
&quot;Assistant Referee&quot;, &quot;Candidate&quot;,
 &quot;Full Referee&quot;,&quot;Assistant&quot;, 
&quot;Emeritus&quot;, &quot;Referee&quot;,
&quot;None&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Ranks do not necessarily equal designations.  This will properly map rank to designation.</description>
        <name>DetermineRankFromDesignation</name>
        <dataType>String</dataType>
        <expression>CASE(  {!RankDesignationMaint3.selectedDesignation}, 
&quot;Candidate Referee&quot;, &quot;Candidate&quot;, 
&quot;Assistant Referee&quot;, &quot;Assistant&quot;,
 &quot;Full Referee&quot;,&quot;Referee&quot;, 
&quot;Emeritus&quot;, &quot;Emeritus&quot;,
&quot;None&quot;
)</expression>
    </formulas>
    <formulas>
        <name>GetDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>IsRankDesignation</name>
        <dataType>Boolean</dataType>
        <expression>if(CONTAINS( TEXT({!LoopDesignationUpdts.Designation__c}), &quot;Referee&quot;),true,
	if(TEXT({!LoopDesignationUpdts.Designation__c}) == &quot;Emeritus&quot;,true,false))</expression>
    </formulas>
    <formulas>
        <name>NewRankValue</name>
        <dataType>Number</dataType>
        <expression>if(TEXT({!ContactRecord.Referee_Rank__c}) == &apos;Referee&apos;,3,
	if(TEXT({!ContactRecord.Referee_Rank__c}) == &apos;Assistant&apos;,2,
		if(TEXT({!ContactRecord.Referee_Rank__c}) == &apos;Candidate&apos;,1,0)
	)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SetCurrentStatus</name>
        <dataType>String</dataType>
        <expression>If( isBlank({!CurrentStatus}),&apos;Active&apos;,
	If(  Contains( {!CurrentStatus},&quot;null&quot;),&apos;Active&apos;,{!CurrentStatus})
	)</expression>
    </formulas>
    <interviewLabel>Referee Status Rank {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referee Status and Rank</label>
    <loops>
        <name>LoopDesignationUpdts</name>
        <label>LoopDesignationUpdts</label>
        <locationX>1565</locationX>
        <locationY>362</locationY>
        <collectionReference>DesignationRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DesignationNoStartNoEnd</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MarkFlowComplete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>DesignationInsert_Rank</name>
        <label>DesignationInsert Rank</label>
        <locationX>1196</locationX>
        <locationY>779</locationY>
        <connector>
            <targetReference>ContactUpdt_Rank</targetReference>
        </connector>
        <inputAssignments>
            <field>Designation_Start_Date__c</field>
            <value>
                <elementReference>DesignationInsert.Designation_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <elementReference>DesignationInsert.Designation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designee_User__c</field>
            <value>
                <elementReference>GetUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designee__c</field>
            <value>
                <elementReference>DesignationInsert.Designee__c</elementReference>
            </value>
        </inputAssignments>
        <object>Designation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteEndorsement</name>
        <label>DeleteEndorsement</label>
        <locationX>2147</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>LoopDesignationUpdts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopDesignationUpdts.Id</elementReference>
            </value>
        </filters>
        <object>Designation__c</object>
    </recordDeletes>
    <recordLookups>
        <description>Contact list</description>
        <name>GetContactRecord</name>
        <label>GetContactRecord</label>
        <locationX>324</locationX>
        <locationY>589</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContactRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Referee_Rank__c</queriedFields>
        <queriedFields>Referee_Status__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>User ID is needed to insert records into Designation</description>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>324</locationX>
        <locationY>883</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FirstPassRankEndDates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ContactUpdt_Rank</name>
        <label>ContactUpdt Rank</label>
        <locationX>1195</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>IfRankDesignationsUpdt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referee_Rank__c</field>
            <value>
                <elementReference>ContactRecord.Referee_Rank__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>ContactUpdt_Status</name>
        <label>ContactUpdt Status</label>
        <locationX>769</locationX>
        <locationY>1059</locationY>
        <connector>
            <targetReference>IfRankChanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referee_Status__c</field>
            <value>
                <elementReference>ContactRecord.Referee_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesignationUpdate_WithStartEndDates</name>
        <label>DesignationUpdate WithStartEndDates</label>
        <locationX>1753</locationX>
        <locationY>447</locationY>
        <connector>
            <targetReference>LoopDesignationUpdts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DesignationUpdate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Designation_End_Date__c</field>
            <value>
                <elementReference>DesignationUpdate.Designation_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation_Start_Date__c</field>
            <value>
                <elementReference>DesignationUpdate.Designation_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <elementReference>DesignationUpdate.Designation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Designation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLowerContactRank</name>
        <label>UpdateLowerContactRank</label>
        <locationX>2368</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>DeleteEndorsement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referee_Rank__c</field>
            <value>
                <elementReference>DetermineLowerRankFromDesignation</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdtContactStatusToDefault</name>
        <label>UpdtContactStatusToDefault</label>
        <locationX>174</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>GetContactRecord</targetReference>
        </connector>
        <inputReference>ContactRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>AlertCannotRemoveRank</name>
        <label>AlertCannotRemoveRank</label>
        <locationX>2000</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopDesignationUpdts</targetReference>
        </connector>
        <fields>
            <name>AlertMessage</name>
            <fieldText>&lt;p&gt;You cannot &lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;remove &lt;/b&gt;the Rank Endorsement&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!LoopDesignationUpdts.Designation__c}. &lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please contact support for assistance. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CheckRankDesignationConfirmation</name>
        <label>CheckRankDesignationConfirmation</label>
        <locationX>1099</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfRankDesignationsUpdt</targetReference>
        </connector>
        <fields>
            <name>DisplayCkRankDesignationConfirmationMsg</name>
            <fieldText>&lt;p&gt;You did not check &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Confirm Rank Update&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you want to update rank to &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;{!ContactRecord.Referee_Rank__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;click &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Previous &lt;/span&gt;and check &lt;i&gt;Confirm Designation and Rank Update&lt;/i&gt;.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you DO NOT wish to update status click &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Next&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CheckUpdateStatusAgain</name>
        <label>CheckUpdateStatusAgain</label>
        <locationX>698</locationX>
        <locationY>838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfRankChanged</targetReference>
        </connector>
        <fields>
            <name>DisplayConfirmation</name>
            <fieldText>&lt;p&gt;You did not check &lt;span style=&quot;color: rgb(250, 0, 0);&quot;&gt;Confirm Status Update&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you want to update status to &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;{!ContactRecord.Referee_Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;click &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Previous &lt;/span&gt;and check &lt;i&gt;Confirm Status Update&lt;/i&gt;.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you DO NOT wish to update status click &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Next&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmDeleteDesignation</name>
        <label>ConfirmDeleteDesignation</label>
        <locationX>2174</locationX>
        <locationY>1129</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DesignationDeleteConfirmed</targetReference>
        </connector>
        <fields>
            <name>RemoveDesignationMsg</name>
            <fieldText>&lt;p&gt;By removing the Start Date you will &lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;remove &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!LoopDesignationUpdts.Designation__c}!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Check the box below to confirm that you want this Rank removed before clicking Next to continue.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmRemoveDesignation</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Yes, adjust rank</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmRankDesignationChange</name>
        <label>ConfirmRankDesignationChange</label>
        <locationX>1021</locationX>
        <locationY>661</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RankDesignationChangeConfirmation</targetReference>
        </connector>
        <fields>
            <name>DisplayDesignationRankConfirmation</name>
            <fieldText>&lt;p&gt;You&apos;ve selected &lt;span style=&quot;color: rgb(19, 6, 247); background-color: rgb(255, 255, 255);&quot;&gt;{!ContactRecord.Referee_Rank__c}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; as the new Rank. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Check &lt;i&gt;Confirm Rank Update&lt;/i&gt; below before clicking Next to continue. &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmDesignationRandUpdt</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Confirm Rank Update</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayDesignationChanges</name>
            <fieldText>&lt;p&gt;The following is for diagnostic purposes:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayContactChange</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Contact Rec:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;ID: {!ContactRecord.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Rank:  {!ContactRecord.Referee_Rank__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmStatusChange</name>
        <label>ConfirmStatusChange</label>
        <locationX>639</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>StatusUpdateConfirmed</targetReference>
        </connector>
        <fields>
            <name>DisplayStatusUpdtConformation</name>
            <fieldText>&lt;p&gt;You&apos;ve selected &lt;span style=&quot;color: rgb(19, 6, 247); background-color: rgb(255, 255, 255);&quot;&gt;{!ContactRecord.Referee_Status__c}&lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; as the new Status. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Check &lt;i&gt;Confirm Status Update&lt;/i&gt; below before clicking Next to continue. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmStatusUpdate</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Confirm Status Update</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayStatusChange</name>
            <fieldText>&lt;p&gt;The following is for diagnostic purposes:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;ID: {!ContactRecord.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Status:  {!ContactRecord.Referee_Status__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Detail</name>
        <label>Detail</label>
        <locationX>534</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfSelectAnotherReferee</targetReference>
        </connector>
        <fields>
            <name>CustFlowFooterFormTop</name>
            <extensionName>c:customizedFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backHide</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl1Text</name>
                <value>
                    <stringValue>X</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl1Hide</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl1Clicked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl2Clicked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextHide</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl1HAlign</name>
                <value>
                    <elementReference>constAlighButtonRight</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl1Variant</name>
                <value>
                    <elementReference>constDestructiveText</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayRefereeCandidateName</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Referee or Candidate Name&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!ContactRecord.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 255); background-color: rgb(255, 255, 255);&quot;&gt;[{!ContactRecord.Referee_Rank__c}]&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RankDesignationMaint3</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Designation__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:maintDesignations3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>designeeId</name>
                <value>
                    <elementReference>ContactLookup.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>excludedValues</name>
                <value>
                    <elementReference>ExcludeEndorsementDesignations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Ranks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectLabel</name>
                <value>
                    <stringValue>New Rank</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableCol1Label</name>
                <value>
                    <stringValue>Ranks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDisplayEndDate</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHelp</name>
                <value>
                    <elementReference>RankTableHelp</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectHelp</name>
                <value>
                    <elementReference>RankSelectHelp</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectHint</name>
                <value>
                    <stringValue>Select a new Rank</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>picklistStatus</name>
            <extensionName>c:picklistComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objAPIName</name>
                <value>
                    <elementReference>ContactAPIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldAPIName</name>
                <value>
                    <elementReference>RefereeStatusFieldAPIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentValue</name>
                <value>
                    <elementReference>CurrentStatus</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>excludedValues</name>
                <value>
                    <elementReference>ExcludedStatuses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useRadioButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listLabel</name>
                <value>
                    <stringValue>Current Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listHelp</name>
                <value>
                    <stringValue>Select the appropriate status.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 255);&quot;&gt;Pressing CANCEL [X] will discard any changes and return you to the lookup form.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustFlowFooterDetailBottom</name>
            <extensionName>c:customizedFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextText</name>
                <value>
                    <stringValue>SUBMIT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl2Text</name>
                <value>
                    <stringValue>Select Another Referee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl2HAlign</name>
                <value>
                    <elementReference>constAlighButtonRight</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl2Hide</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backHide</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FAlertNoContactSelected</name>
        <label>Alert No Contact Selected</label>
        <locationX>156</locationX>
        <locationY>401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Contact</targetReference>
        </connector>
        <fields>
            <name>DisplayUpdtContactStatus</name>
            <fieldText>&lt;p&gt;&lt;b&gt;It appears that you pressed Next without selecting &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;a Referee or Candidate from the lookup selection.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(255, 0, 0);&quot;&gt;Press &lt;/i&gt;&lt;u style=&quot;color: rgb(255, 0, 0);&quot;&gt;Previous &lt;/u&gt;&lt;i style=&quot;color: rgb(255, 0, 0);&quot;&gt;to return &lt;/i&gt;&lt;i style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;to make a &lt;/i&gt;&lt;i style=&quot;color: rgb(255, 0, 0);&quot;&gt;selection.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FINI</name>
        <label>FINI</label>
        <locationX>2397</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IfLoopBack</targetReference>
        </connector>
        <fields>
            <name>FiniDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Updates have been submitted&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may elect to &lt;b&gt;Review Changes&lt;/b&gt;&lt;/p&gt;&lt;p&gt;-or- &lt;/p&gt;&lt;p&gt;Press &lt;b&gt;Finish&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustFlowFooterFini</name>
            <extensionName>c:customizedFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextText</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl1Text</name>
                <value>
                    <stringValue>Review Changes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl1Hide</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl1Variant</name>
                <value>
                    <stringValue>brand-outline</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl1HAlign</name>
                <value>
                    <elementReference>constAlighButtonRight</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backHide</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contact</name>
        <label>Select Referee</label>
        <locationX>321</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsContactPopulated</targetReference>
        </connector>
        <fields>
            <name>ContactLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search for a Referee or Candidate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>196</locationX>
        <locationY>208</locationY>
        <connector>
            <targetReference>Select_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>FinalPassRandEndDates</name>
        <label>FinalPassRandEndDates</label>
        <locationX>2057</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>FINI</targetReference>
        </connector>
        <flowName>UpdateDesignationRankEndDates</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FirstPassRankEndDates</name>
        <label>FirstPassRankEndDates</label>
        <locationX>319</locationX>
        <locationY>1060</locationY>
        <connector>
            <targetReference>CheckForEmptyStatus</targetReference>
        </connector>
        <flowName>UpdateDesignationRankEndDates</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentDesignation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentRank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>GetContactRecord.Referee_Status__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>DesignationInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Designation__c</objectType>
    </variables>
    <variables>
        <name>DesignationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Designation__c</objectType>
    </variables>
    <variables>
        <name>DesignationRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Designation__c</objectType>
    </variables>
    <variables>
        <name>DesignationUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Designation__c</objectType>
    </variables>
    <variables>
        <name>FlowComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SelectedDesignation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>0 = AllDesignations,
1 = RankDesignations,
2 = EndorsementDesignations</description>
        <name>UpdateDesignationType</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
