force-app/main/default/flows/Referee_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignContactRecord</name>
        <label>AssignContactRecord</label>
        <locationX>276</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Rank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Referee_Rank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Referee_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Referee_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRank</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Referee_Rank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckForEmptyStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDefaultStatus</name>
        <label>AssignDefaultStatus</label>
        <locationX>117</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetCurrentStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdtContactStatusToDefault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUpdtStatus</name>
        <label>AssignUpdtStatus</label>
        <locationX>841</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklistStatus.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmStatusChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is a testing aid - it will appear in the debug report at the end of the flow - it does no harm so it can be left in for normal production.  If debugging and you don&apos;t see this element and TRUE at the end something&apos;s wrong.</description>
        <name>MarkFlowComplete</name>
        <label>MarkFlowComplete</label>
        <locationX>1177</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>FlowComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FINI</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constAlighButtonLeft</name>
        <dataType>String</dataType>
        <value>
            <stringValue>left</stringValue>
        </value>
    </constants>
    <constants>
        <name>constAlighButtonRight</name>
        <dataType>String</dataType>
        <value>
            <stringValue>right</stringValue>
        </value>
    </constants>
    <constants>
        <description>Text will appear as Alert Text over a neutral background</description>
        <name>constButtonDestructiveText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>destructive-text</stringValue>
        </value>
    </constants>
    <constants>
        <name>ContactAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </constants>
    <constants>
        <description>The values identified here will be excluded from selection in ckbRefereeStatus</description>
        <name>ExcludedStatuses</name>
        <dataType>String</dataType>
        <value>
            <stringValue>License Suspended, License Suspended - Safety Compliance, License Suspended - USRowing Admin</stringValue>
        </value>
    </constants>
    <constants>
        <name>RefereeStatusFieldAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Referee_Status__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckForEmptyStatus</name>
        <label>CheckForEmptyStatus</label>
        <locationX>268</locationX>
        <locationY>980</locationY>
        <defaultConnector>
            <targetReference>Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referee_Status_Is_Not_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetContactRecord.Referee_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContactRecord.Referee_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot;null&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDefaultStatus</targetReference>
            </connector>
            <label>Referee Status Is Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfLoopBack</name>
        <label>IfLoopBack</label>
        <locationX>559</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>Select_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoLoopBack</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CustFlowFooterFini.flowCtrl1Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsContactPopulated</targetReference>
            </connector>
            <label>DoLoopBack</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfSelectAnotherReferee</name>
        <label>IfSelectAnotherReferee</label>
        <locationX>414</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>IfStatusChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectAnotherReferee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustFlowFooterDetailBottom.flowCtrl2Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Contact</targetReference>
            </connector>
            <label>SelectAnotherReferee</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfStatusChanged</name>
        <label>IfStatusChanged</label>
        <locationX>659</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>Not_Change_Detected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistStatus.selectedValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ContactRecord.Referee_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignUpdtStatus</targetReference>
            </connector>
            <label>Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsContactPopulated</name>
        <label>IsContactPopulated</label>
        <locationX>262</locationX>
        <locationY>485</locationY>
        <defaultConnector>
            <targetReference>FAlertNoContactSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactLookup.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactRecord</targetReference>
            </connector>
            <label>ContactSet</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusUpdateConfirmed</name>
        <label>StatusUpdateConfirmed</label>
        <locationX>970</locationX>
        <locationY>862</locationY>
        <defaultConnector>
            <targetReference>CheckUpdateStatusAgain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Update_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmStatusUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactUpdt_Status</targetReference>
            </connector>
            <label>Status Update Confirmed</label>
        </rules>
    </decisions>
    <description>Flow used to update Contact Referee Status by Referee Committee.</description>
    <formulas>
        <name>GetDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>SetCurrentStatus</name>
        <dataType>String</dataType>
        <expression>If( isBlank({!CurrentStatus}),&apos;Active&apos;,
	If(  Contains( {!CurrentStatus},&quot;null&quot;),&apos;Active&apos;,{!CurrentStatus})
	)</expression>
    </formulas>
    <interviewLabel>Referee Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referee Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Contact list</description>
        <name>GetContactRecord</name>
        <label>GetContactRecord</label>
        <locationX>269</locationX>
        <locationY>601</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContactRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Referee_Rank__c</queriedFields>
        <queriedFields>Referee_Status__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ContactUpdt_Status</name>
        <label>ContactUpdt Status</label>
        <locationX>1177</locationX>
        <locationY>852</locationY>
        <connector>
            <targetReference>MarkFlowComplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referee_Status__c</field>
            <value>
                <elementReference>ContactRecord.Referee_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdtContactStatusToDefault</name>
        <label>UpdtContactStatusToDefault</label>
        <locationX>116</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>GetContactRecord</targetReference>
        </connector>
        <inputReference>ContactRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>CheckUpdateStatusAgain</name>
        <label>CheckUpdateStatusAgain</label>
        <locationX>974</locationX>
        <locationY>522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsContactPopulated</targetReference>
        </connector>
        <fields>
            <name>DisplayConfirmation</name>
            <fieldText>&lt;p&gt;You did not check &lt;span style=&quot;color: rgb(250, 0, 0);&quot;&gt;Confirm Status Update&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you want to update status to &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;{!ContactRecord.Referee_Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;click &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Previous &lt;/span&gt;and check &lt;i&gt;Confirm Status Update&lt;/i&gt;.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you DO NOT wish to update status click &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Next&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmStatusChange</name>
        <label>ConfirmStatusChange</label>
        <locationX>842</locationX>
        <locationY>855</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>StatusUpdateConfirmed</targetReference>
        </connector>
        <fields>
            <name>DisplayStatusUpdtConformation</name>
            <fieldText>&lt;p&gt;You&apos;ve selected &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(19, 6, 247);&quot;&gt;{!ContactRecord.Referee_Status__c}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; as the new Status. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Check &lt;i&gt;Confirm Status Update&lt;/i&gt; below before clicking Next to continue. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmStatusUpdate</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Confirm Status Update</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Detail</name>
        <label>Detail</label>
        <locationX>417</locationX>
        <locationY>894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfSelectAnotherReferee</targetReference>
        </connector>
        <fields>
            <name>DisplayRefereeCandidateName</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Referee or Candidate Name&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ContactRecord.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>picklistStatus</name>
            <extensionName>c:picklistComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objAPIName</name>
                <value>
                    <elementReference>ContactAPIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldAPIName</name>
                <value>
                    <elementReference>RefereeStatusFieldAPIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentValue</name>
                <value>
                    <elementReference>CurrentStatus</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>excludedValues</name>
                <value>
                    <elementReference>ExcludedStatuses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useRadioButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listLabel</name>
                <value>
                    <stringValue>Current Status</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CustFlowFooterDetailBottom</name>
            <extensionName>c:customizedFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextText</name>
                <value>
                    <stringValue>SUBMIT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl2Text</name>
                <value>
                    <stringValue>Select Another Referee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl2HAlign</name>
                <value>
                    <elementReference>constAlighButtonRight</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl2Hide</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backHide</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FAlertNoContactSelected</name>
        <label>Alert No Contact Selected</label>
        <locationX>156</locationX>
        <locationY>401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Contact</targetReference>
        </connector>
        <fields>
            <name>DisplayUpdtContactStatus</name>
            <fieldText>&lt;p&gt;&lt;b&gt;It appears that you pressed Next without selecting &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;a Referee or Candidate from the lookup selection.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(255, 0, 0);&quot;&gt;Press &lt;/i&gt;&lt;u style=&quot;color: rgb(255, 0, 0);&quot;&gt;Previous &lt;/u&gt;&lt;i style=&quot;color: rgb(255, 0, 0);&quot;&gt;to return &lt;/i&gt;&lt;i style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;to make a &lt;/i&gt;&lt;i style=&quot;color: rgb(255, 0, 0);&quot;&gt;selection.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FINI</name>
        <label>FINI</label>
        <locationX>967</locationX>
        <locationY>356</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IfLoopBack</targetReference>
        </connector>
        <fields>
            <name>FiniDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Updates have been submitted&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may elect to &lt;b&gt;Review Changes&lt;/b&gt;&lt;/p&gt;&lt;p&gt;-or- &lt;/p&gt;&lt;p&gt;Press &lt;b&gt;Finish&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustFlowFooterFini</name>
            <extensionName>c:customizedFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextText</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl1Text</name>
                <value>
                    <stringValue>Review Changes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl1Hide</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl1Variant</name>
                <value>
                    <stringValue>brand-outline</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowCtrl1HAlign</name>
                <value>
                    <elementReference>constAlighButtonRight</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backHide</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Change_Detected</name>
        <label>No Change Detected</label>
        <locationX>746</locationX>
        <locationY>459</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsContactPopulated</targetReference>
        </connector>
        <fields>
            <name>NoChangeDetectedMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;No status change was found.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press &lt;b style=&quot;color: rgb(0, 0, 255);&quot;&gt;Return&lt;/b&gt; to return to Status options.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoStatusChangeReturn</name>
            <extensionName>c:customizedFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextText</name>
                <value>
                    <stringValue>Return</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contact</name>
        <label>Select Referee</label>
        <locationX>321</locationX>
        <locationY>343</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsContactPopulated</targetReference>
        </connector>
        <fields>
            <name>ContactLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search for a Referee or Candidate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>196</locationX>
        <locationY>208</locationY>
        <connector>
            <targetReference>Select_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentRank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>GetContactRecord.Referee_Status__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>FlowComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SelectedDesignation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
