force-app/main/default/flows/TestStartingFlows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addRecToCollection</name>
        <label>addRecToCollection</label>
        <locationX>290</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>referee_expenses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>referee_expense_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>idloop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>extractId</name>
        <label>extractId</label>
        <locationX>548</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>idloop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>referee_expense_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRecById</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Obtain_Record_Count</name>
        <label>Obtain Record Count</label>
        <locationX>172</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>referee_expenses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FlowTestScreen</targetReference>
        </connector>
    </assignments>
    <description>This is a test to start flows</description>
    <interviewLabel>TestStartingFlows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestStartingFlows</label>
    <loops>
        <name>idloop</name>
        <label>idloop</label>
        <locationX>176</locationX>
        <locationY>203</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getRecByLoopId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtain_Record_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRecById</name>
        <label>getRecById</label>
        <locationX>544</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idloop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referee_Expense_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecByLoopId</name>
        <label>getRecByLoopId</label>
        <locationX>388</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addRecToCollection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idloop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referee_Expense_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>FlowTestScreen</name>
        <label>FlowTestScreen</label>
        <locationX>170</locationX>
        <locationY>572</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>selectParticipants</name>
            <fieldText>&lt;p&gt;List of selected expenses - v8&lt;/p&gt;&lt;p&gt;{!ids}&lt;/p&gt;&lt;p&gt;{!$Flow}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>testrecords</name>
            <fieldText>&lt;p&gt;Total Records = {!varRecordCount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>idloop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referee_expense_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Referee_Expense_Report__c</objectType>
    </variables>
    <variables>
        <name>referee_expenses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Referee_Expense_Report__c</objectType>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
