force-app/main/default/flows/TestDCU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignContactRecord</name>
        <label>AssignContactRecord</label>
        <locationX>225</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Rank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Referee_Rank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Referee_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Referee_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckForEmptyStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDefaultStatus</name>
        <label>AssignDefaultStatus</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetCurrentStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForceUpdtContactStatusToDefault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRank</name>
        <label>AssignRank</label>
        <locationX>825</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Rank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DetermineRankFromDesignation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmRankDesignationChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUpdatedRecord</name>
        <label>AssignUpdatedRecord</label>
        <locationX>1352</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>DesignationUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopDesignationUpdts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEndDateSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUpdtStatus</name>
        <label>AssignUpdtStatus</label>
        <locationX>540</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Referee_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ckbRefereeStatus.selectedStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmStatusChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewDesignationRecord</name>
        <label>NewDesignationRecord</label>
        <locationX>828</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>DesignationRecord.Designee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DesignationRecord.Designation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DesignationMaint.selectedDesignation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DesignationRecord.Designation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DesignationMaint.selectionStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DesignationRank</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DesignationIsRank</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Candidate Referee, Assistant Referee, Full Referee, Emeritus</stringValue>
        </value>
    </constants>
    <constants>
        <description>The values identified here will be excluded from selection in ckbRefereeStatus</description>
        <name>ExcludedStatuses</name>
        <dataType>String</dataType>
        <value>
            <stringValue>License Suspended, License Suspended - Safety Compliance, License Suspended - USRowing Admin</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckForEmptyStatus</name>
        <label>CheckForEmptyStatus</label>
        <locationX>214</locationX>
        <locationY>721</locationY>
        <defaultConnector>
            <targetReference>Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referee_Status_Is_Not_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetContactRecord.Referee_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContactRecord.Referee_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot;null&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDefaultStatus</targetReference>
            </connector>
            <label>Referee Status Is Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>DesignationAddConfirmed</name>
        <label>DesignationAddConfirmed</label>
        <locationX>1004</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>ChkDesignationConfirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Designation_Add_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmDesignationAdd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PseudoDesignationInsert</targetReference>
            </connector>
            <label>Designation Add Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DesignationRank</name>
        <label>DesignationRank</label>
        <locationX>814</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>ConfirmDesignationChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateRankByDesignation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DesignationIsRank</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DesignationRecord.Designation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRank</targetReference>
            </connector>
            <label>UpdateRankByDesignation</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfDesignationsUpdt</name>
        <label>IfDesignationsUpdt</label>
        <locationX>1171</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>EndFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DesignationUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DesignationMaint.outputEditedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopDesignationUpdts</targetReference>
            </connector>
            <label>DesignationUpdated</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfNewDesignation</name>
        <label>IfNewDesignation</label>
        <locationX>902</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>IfDesignationsUpdt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Designation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DesignationMaint.selectedDesignation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDesignationRecord</targetReference>
            </connector>
            <label>New Designation</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfStatusChanged</name>
        <label>IfStatusChanged</label>
        <locationX>462</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>IfNewDesignation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ckbRefereeStatus.selectedStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ContactRecord.Referee_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignUpdtStatus</targetReference>
            </connector>
            <label>Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEndDateSet</name>
        <label>IsEndDateSet</label>
        <locationX>1490</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>PseudoDesignationUpdateNoEndDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Date_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DesignationUpdate.Designation_End_Date__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PseudoDesignationUpdt</targetReference>
            </connector>
            <label>End Date Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>RankDesignationChangeConfirmation</name>
        <label>RankDesignationChangeConfirmation</label>
        <locationX>1081</locationX>
        <locationY>873</locationY>
        <defaultConnector>
            <targetReference>CheckRankDesignationConfirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RankDesignationChangeIsConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmDesignationRandUpdt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PseudoContactRankUpdt</targetReference>
            </connector>
            <label>RankDesignationChangeConfirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusUpdateConfirmed</name>
        <label>StatusUpdateConfirmed</label>
        <locationX>581</locationX>
        <locationY>681</locationY>
        <defaultConnector>
            <targetReference>CheckUpdateStatusAgain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Update_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmStatusUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PseudoContactUpdt</targetReference>
            </connector>
            <label>Status Update Confirmed</label>
        </rules>
    </decisions>
    <description>Status + New Designations + Desingation Updts</description>
    <formulas>
        <description>Ranks do not necessarily equal designations.  This will properly map rank to designation.</description>
        <name>DetermineRankFromDesignation</name>
        <dataType>String</dataType>
        <expression>CASE( TEXT( {!DesignationRecord.Designation__c}),
&quot;Candidate Referee&quot;, &quot;Candidate&quot;,
&quot;Assistant Referee&quot;, &quot;Assistant&quot;,
&quot;Full Referee&quot;, &quot;Referee&quot;,
&quot;Emeritus&quot;, &quot;Emeritus&quot;,
&quot;None&quot;
)</expression>
    </formulas>
    <formulas>
        <name>SetCurrentStatus</name>
        <dataType>String</dataType>
        <expression>If( isBlank({!CurrentStatus}),&apos;Active&apos;,
	If(  Contains( {!CurrentStatus},&quot;null&quot;),&apos;Active&apos;,{!CurrentStatus})
	)</expression>
    </formulas>
    <interviewLabel>TestDCU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referee Status, Rank, and Designation</label>
    <loops>
        <name>LoopDesignationUpdts</name>
        <label>LoopDesignationUpdts</label>
        <locationX>1346</locationX>
        <locationY>144</locationY>
        <collectionReference>DesignationMaint.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignUpdatedRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EndFlow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Contact list</description>
        <name>GetContactRecord</name>
        <label>GetContactRecord</label>
        <locationX>224</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContactRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Referee_Rank__c</queriedFields>
        <queriedFields>Referee_Status__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdtContactStatusToDefault</name>
        <label>UpdtContactStatusToDefault</label>
        <locationX>66</locationX>
        <locationY>475</locationY>
        <connector>
            <targetReference>GetContactRecord</targetReference>
        </connector>
        <inputReference>ContactRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>CheckRankDesignationConfirmation</name>
        <label>CheckRankDesignationConfirmation</label>
        <locationX>1108</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfDesignationsUpdt</targetReference>
        </connector>
        <fields>
            <name>DisplayCkRankDesignationConfirmationMsg</name>
            <fieldText>&lt;p&gt;You did not check &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Confirm Designation and Rank Update&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you want to update rank to &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;{!ContactRecord.Referee_Rank__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;click &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Previous &lt;/span&gt;and check &lt;i&gt;Confirm Designation and Rank Update&lt;/i&gt;.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you DO NOT wish to update status click &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Next&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CheckUpdateStatusAgain</name>
        <label>CheckUpdateStatusAgain</label>
        <locationX>640</locationX>
        <locationY>352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfNewDesignation</targetReference>
        </connector>
        <fields>
            <name>DisplayConfirmation</name>
            <fieldText>&lt;p&gt;You did not check &lt;span style=&quot;color: rgb(250, 0, 0);&quot;&gt;Confirm Status Update&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you want to update status to &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;{!ContactRecord.Referee_Status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;click &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Previous &lt;/span&gt;and check &lt;i&gt;Confirm Status Update&lt;/i&gt;.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you DO NOT wish to update status click &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Next&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ChkDesignationConfirmation</name>
        <label>ChkDesignationConfirmation</label>
        <locationX>1013</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfDesignationsUpdt</targetReference>
        </connector>
        <fields>
            <name>DisplayCkDesignationConfirmaitonMsg</name>
            <fieldText>&lt;p&gt;You did not check &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Confirm Designation Update&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you want to update rank to &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;{!DesignationRecord.Designation__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;click &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Previous &lt;/span&gt;and check &lt;i&gt;Confirm Designation Add&lt;/i&gt;.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you DO NOT wish to update status click &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Next&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmDesignationChange</name>
        <label>ConfirmDesignationChange</label>
        <locationX>938</locationX>
        <locationY>665</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DesignationAddConfirmed</targetReference>
        </connector>
        <fields>
            <name>DisplayDesignationConfirmation</name>
            <fieldText>&lt;p&gt;You&apos;ve selected &lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;{!DesignationRecord.Designation__c}&lt;/span&gt; to add as a new Designation.&lt;/p&gt;&lt;p&gt;&lt;b&gt;Check &lt;i&gt;Confirm Designation Add&lt;/i&gt; below before clicking Next to continue.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmDesignationAdd</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Confirm Designation Add</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayDesignationChange</name>
            <fieldText>&lt;p&gt;The following is for diagnostic purposes:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Designation Rec:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Designation:&amp;nbsp;{!DesignationRecord.Designation__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;StartDate: {!DesignationRecord.Designation_Start_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Designee: {!DesignationRecord.Designee__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmRankDesignationChange</name>
        <label>ConfirmRankDesignationChange</label>
        <locationX>871</locationX>
        <locationY>1016</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RankDesignationChangeConfirmation</targetReference>
        </connector>
        <fields>
            <name>DisplayDesignationRankConfirmation</name>
            <fieldText>&lt;p&gt;You&apos;ve selected &lt;span style=&quot;color: rgb(0, 0, 255); background-color: rgb(255, 255, 255);&quot;&gt;{!DesignationRecord.Designation__c}&lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; to add as a new Designation. This will also result in updating Rank to &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 255); background-color: rgb(255, 255, 255);&quot;&gt;{!ContactRecord.Referee_Rank__c}&lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Check &lt;i&gt;Confirm Designation and Rank Updt&lt;/i&gt; before clicking Next to continue.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmDesignationRandUpdt</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Confirm Designation and Rank Updt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayDesignationChanges</name>
            <fieldText>&lt;p&gt;The following is for diagnostic purposes:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Designation Rec:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Designation: &lt;/span&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!DesignationRecord.Designation__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;StartDate: {!DesignationRecord.Designation_Start_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Designee: {!DesignationRecord.Designee__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayContactChange</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Contact Rec:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;ID: {!ContactRecord.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Rank:  {!ContactRecord.Referee_Rank__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmStatusChange</name>
        <label>ConfirmStatusChange</label>
        <locationX>544</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>StatusUpdateConfirmed</targetReference>
        </connector>
        <fields>
            <name>DisplayStatusUpdtConformation</name>
            <fieldText>&lt;p&gt;You&apos;ve selected &lt;span style=&quot;color: rgb(19, 6, 247); background-color: rgb(255, 255, 255);&quot;&gt;{!ContactRecord.Referee_Status__c}&lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; as the new Status. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Check &lt;i&gt;Confirm Status Update&lt;/i&gt; below before clicking Next to continue. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmStatusUpdate</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Confirm Status Update</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayStatusChange</name>
            <fieldText>&lt;p&gt;The following is for diagnostic purposes:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;ID: {!ContactRecord.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Status:  {!ContactRecord.Referee_Status__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Detail</name>
        <label>Detail</label>
        <locationX>450</locationX>
        <locationY>730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfStatusChanged</targetReference>
        </connector>
        <fields>
            <name>DisplayContactName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContactRecord.Name</elementReference>
            </defaultValue>
            <fieldText>DisplayContactName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>displayformula</name>
            <fieldText>&lt;p&gt;formula:  {!SetCurrentStatus}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ckbRefereeStatus</name>
            <extensionName>c:ckbRefereeStatus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStatus</name>
                <value>
                    <elementReference>CurrentStatus</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkboxLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStatus</name>
                <value>
                    <elementReference>CurrentStatus</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>excludeStatuses</name>
                <value>
                    <elementReference>ExcludedStatuses</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DesignationMaint</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Designation__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:maintDesignations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>designeeId</name>
                <value>
                    <elementReference>ContactLookup.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectLabel</name>
                <value>
                    <stringValue>Designation / Rank</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Current Designations</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayMsg</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;color: rgb(0, 0, 255);&quot;&gt;If you do not need to make a change, simply press Next.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EndFlow</name>
        <label>End Flow</label>
        <locationX>1618</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayFlowEnded</name>
            <fieldText>&lt;p&gt;Flow ended!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ForceUpdtContactStatusToDefault</name>
        <label>Alert Updt Contact Status To Default</label>
        <locationX>52</locationX>
        <locationY>637</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdtContactStatusToDefault</targetReference>
        </connector>
        <fields>
            <name>DisplayUpdtContactStatus</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Status was not properly set.  I need to update Status prior to entering flow.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The following is for diagnostic purposes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;ID: {!ContactRecord.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;Default Status:  {!ContactRecord.Referee_Status__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PseudoContactRankUpdt</name>
        <label>PseudoContactRankUpdt</label>
        <locationX>1353</locationX>
        <locationY>585</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PseudoDesignationInsert</targetReference>
        </connector>
        <fields>
            <name>ContactRecordData</name>
            <fieldText>&lt;p&gt;Contact Rec:&lt;/p&gt;&lt;p&gt;ID: {!ContactRecord.Id}&lt;/p&gt;&lt;p&gt;Rank:  {!ContactRecord.Referee_Rank__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PseudoContactUpdt</name>
        <label>PseudoContactUpdt</label>
        <locationX>679</locationX>
        <locationY>894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IfNewDesignation</targetReference>
        </connector>
        <fields>
            <name>DisplayUpdtContactRec</name>
            <fieldText>&lt;p&gt;Contact Record&lt;/p&gt;&lt;p&gt;ID: {!ContactRecord.Id}&lt;/p&gt;&lt;p&gt;Status:  {!ContactRecord.Referee_Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PseudoDesignationInsert</name>
        <label>PseudoDesignationInsert</label>
        <locationX>1236</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IfDesignationsUpdt</targetReference>
        </connector>
        <fields>
            <name>DisplayDesignationRecFields</name>
            <fieldText>&lt;p&gt;Designation Rec:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Designation: &lt;/span&gt;{!DesignationRecord.Designation__c}&lt;/p&gt;&lt;p&gt;StartDate: {!DesignationRecord.Designation_Start_Date__c}&lt;/p&gt;&lt;p&gt;Designee: {!DesignationRecord.Designee__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PseudoDesignationUpdateNoEndDate</name>
        <label>PseudoDesignationUpdateNoEndDate</label>
        <locationX>1682</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopDesignationUpdts</targetReference>
        </connector>
        <fields>
            <name>DisplayUpdateRecordDataNoEndDate</name>
            <fieldText>&lt;p&gt;Update Designation Record - No End Date&lt;/p&gt;&lt;p&gt;Id:  {!ContactLookup.recordId}&lt;/p&gt;&lt;p&gt;Designation: {!DesignationUpdate.Designation__c}  &lt;/p&gt;&lt;p&gt;Start: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!DesignationUpdate.Designation_Start_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PseudoDesignationUpdt</name>
        <label>PseudoDesignationUpdt</label>
        <locationX>1730</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopDesignationUpdts</targetReference>
        </connector>
        <fields>
            <name>DisplayDesignationUpdt</name>
            <fieldText>&lt;p&gt;Update Designation Record - Start Date and End Date&lt;/p&gt;&lt;p&gt;Id:  {!ContactLookup.recordId}&lt;/p&gt;&lt;p&gt;Designation: {!DesignationUpdate.Designation__c}  &lt;/p&gt;&lt;p&gt;Start:   &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!DesignationUpdate.Designation_Start_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;End:  {!DesignationUpdate.Designation_End_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contact</name>
        <label>Select Referee</label>
        <locationX>222</locationX>
        <locationY>328</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetContactRecord</targetReference>
        </connector>
        <fields>
            <name>ContactLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search for Designee (Contact)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ContactRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>95</locationX>
        <locationY>95</locationY>
        <connector>
            <targetReference>Select_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentDesignation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentRank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>GetContactRecord.Referee_Status__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>DesignationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Designation__c</objectType>
    </variables>
    <variables>
        <name>DesignationUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Designation__c</objectType>
    </variables>
    <variables>
        <name>SelectedDesignation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
